@using BookKeeperWeb.Controllers
@model BookKeeperWeb.Controllers.MonthTotalReport
@{
    ViewBag.Title = "MonthlyTotals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Monthly Totals (2014-2015)</h2>

<style>
    
    th{
        text-align:center;
    }
</style>

<table style="width:100%;" border="1">

    <tr>
        <th>Month</th>
        <th>Income</th>
        <th>Expence</th>
        <th>Total</th>
        <th>Loss/Surplus</th>
    </tr>
    @{
        double? IncomeTotal = 0;
        double? ExpenceTotal = 0;

    }

    @foreach (BookKeeperWeb.Controllers.MonthTotalReportItem Item in Model.Items)
    {
        IncomeTotal += Item.Income;
        ExpenceTotal += Item.Expence;
        <tr>
            <td style="padding-left: 10px;">@Item.Month</td>
            <td class="randval">@Item.Income.Value.ToRand()</td>
            <td class="randval">@Item.Expence.Value.ToRand()</td>
            <td class="randval">@Item.Total.Value.ToRand()</td>
            <td style ="text-align: center">@Item.LossGain</td>
        </tr>
    }

    @{
        double? total = IncomeTotal - ExpenceTotal;
        total =  Math.Round(total.GetValueOrDefault(), 2); 
    }
    <tr>
        <th>Total</th>
        <th class="randval">@IncomeTotal.Value.ToRand()</th>
        <th class="randval">@ExpenceTotal.Value.ToRand()</th>
        <th class="randval">@total.Value.ToRand()</th>

        @if (IncomeTotal > ExpenceTotal)
        {
            <th>Surplus</th>
        }
        else
        {
            <th>Loss</th>
        }
    </tr>

</table>
