@model BookKeeperWeb.Controllers.MonthTotalReport
@{
    ViewBag.Title = "MonthlyTotals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MonthlyTotals</h2>

<style>
    td{
        padding-left: 10px;
    }
    th{
        text-align:center;
    }
</style>

<table style="width:100%;" border="1">

    <tr>
        <th>Month</th>
        <th>Income</th>
        <th>Expence</th>
        <th>Total</th>
        <th>Loss/Surplus</th>
    </tr>
    @{
        double? IncomeTotal = 0;
        double? ExpenceTotal = 0;

    }

    @foreach (BookKeeperWeb.Controllers.MonthTotalReportItem Item in Model.Items)
    {
        IncomeTotal += Item.Income;
        ExpenceTotal += Item.Expence;
        <tr>
            <td>@Item.Month</td>
            <td>R @Item.Income.ToString()</td>
            <td>R @Item.Expence.ToString()</td>
            <td>R @Item.Total.ToString()</td>
            <td>@Item.LossGain</td>
        </tr>
    }

    @{
        double? total = IncomeTotal - ExpenceTotal;
        total =  Math.Round(total.GetValueOrDefault(), 2); 
    }
    <tr>
        <th>Total</th>
        <th>R @IncomeTotal</th>
        <th>R @ExpenceTotal</th>
        <th>R @total</th>

        @if (IncomeTotal > ExpenceTotal)
        {
            <th>Surplus</th>
        }
        else
        {
            <th>Loss</th>
        }
    </tr>

</table>
