@model IEnumerable<BookKeeperWeb.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (ViewBag.CurrentAcc != item.ID)
        {
            <td><a href="@Url.Action("SetActiveAccount", "Accounts", new { AccID = item.ID })"><span class="glyphicon glyphicon-off" style="color:red; font-size: 50px;"></span></a></td>
        }
        else
        {
            <td><a href="@Url.Action("SetActiveAccount", "Accounts", new { AccID = item.ID })"><span class="glyphicon glyphicon-off" style="color:limegreen; font-size: 50px;"></span></a></td>
        }
      
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            
        </td>
    </tr>
}

</table>
